.elementor-kit-6 {
    --e-global-color-primary: #22281E;
    --e-global-color-secondary: #20373B;
    --e-global-color-text: #394630;
    --e-global-color-accent: #0E6D51;
    --e-global-color-577ff13: #7CFF77;
    --e-global-color-3c6a4e4: #F2F8F1;
    --e-global-color-81731bd: #FFFFFF;
    --e-global-color-aa90483: #E7E7E7;
    --e-global-typography-primary-font-family: "Raleway", sans-serif;
    --e-global-typography-primary-font-weight: 700;
    --e-global-typography-secondary-font-family:  "Raleway", sans-serif;
    --e-global-typography-secondary-font-weight: 600;
    --e-global-typography-text-font-family:  "Raleway", sans-serif;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family:  "Raleway", sans-serif;
    --e-global-typography-accent-font-weight: 600;
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1480px;
}

.e-con {
    --container-max-width: 1480px;
}

.elementor-widget:not(:last-child) {
    margin-block-end: 20px;
}

.elementor-element {
    --widgets-spacing: 20px 20px;
}

    {}

h1.entry-title {
    display: var(--page-title-display);
}

@media(max-width:1540px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1080px;
    }

    .e-con {
        --container-max-width: 1080px;
    }
}

@media(max-width:1280px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 900px;
    }

    .e-con {
        --container-max-width: 900px;
    }
}

@media(max-width:1024px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 710px;
    }

    .e-con {
        --container-max-width: 710px;
    }
}

@media(max-width:767px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 420px;
    }

    .e-con {
        --container-max-width: 420px;
    }
}

@media(max-width:480px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 290px;
    }

    .e-con {
        --container-max-width: 290px;
    }
}