/*--------------------------------------------------------------
    Title & Breadcrumb
--------------------------------------------------------------*/

.main-title-section-wrapper {
  clear: both;
  float: left;
  margin: 0;
  width: 100%;
}

#header-wrapper .main-title-section-wrapper {
  position: relative;
}

#header-wrapper.header-top-absolute .main-title-section-wrapper {
  position: static;
}

.main-title-section-container {
  clear: both;
  float: left;
  margin: 0;
  padding: 50px 0 90px;
  width: 100%;
}

.main-title-section {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.main-title-section h1 {
  font-size: clamp(1.875rem, 1.4525rem + 2.3313vw, 4.25rem);
  text-transform: none;
  margin: 0 0 clamp(0.75rem, 0.6346rem + 0.5128vw, 1.25rem);
  word-break: break-all;
}

.breadcrumb {
  clear: both;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: var(--wdtFontSize_Ext);
  font-weight: var(--wdtFontWeight_Ext);
  text-transform: uppercase;
  letter-spacing: clamp(0rem, -0.0231rem + 0.1026vw, 0.1rem);
}

.breadcrumb a:not(:focus) {
  text-decoration: none;
}

.breadcrumb span:not(.current) {
  display: inline-block;
  margin: 0px 12px;
  padding: 0;
}

.breadcrumb .breadcrumb-default-delimiter:last-child {
  display: none;
}

.main-title-section-wrapper .breadcrumb-default-delimiter:before {
  content: "";
  background-color: var(--wdtAccentTxtColor);
  display: inline-block;
  height: 14px;
  opacity: 0.5;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 1px;
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}

.main-title-section h1,
.breadcrumb {
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.main-title-section-wrapper > .main-title-section-bg,
.main-title-section-wrapper > .main-title-section-bg:after {
  content: "";
  height: 100% !important;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  pointer-events: none;
}

.home #header-wrapper .main-title-section-wrapper .main-title-section-container {
    display: none;
}

.main-title-section-wrapper .main-title-section-container { padding: clamp(3.75rem, 3.0828rem + 3.681vw, 7.5rem) 0; }

/*--------------------------------------------------------------
    Default Colors
--------------------------------------------------------------*/

.breadcrumb {
  color: var(--wdtBodyTxtColor);
}

.main-title-section h1 {
  color: var(--wdtAccentTxtColor);
}

.breadcrumb a {
  color: var(--wdtAccentTxtColor);
}

.breadcrumb span.current {
  color: var(--wdtAccentTxtColor);
}

.main-title-section-wrapper > .main-title-section-bg {
  background-color: var(--wdtHeadAltColor);
}

.main-title-section-wrapper.overlay-wrapper > .main-title-section-bg:after {
  opacity: 0.8;
}

.main-title-section-wrapper.overlay-wrapper > .main-title-section-bg:after
{
    background-color: var(--wdtPrimaryColor);
}

.main-title-section-wrapper.overlay-wrapper.dark-bg-breadcrumb > .main-title-section-bg:after
{
    background-color: var(--wdtPrimaryColor);
}

.main-title-section-wrapper > .main-title-section-bg:after {
    background-color: var(--wdtPrimaryColor);
    opacity: 0.8;
}

.main-title-section-wrapper.dark-bg-breadcrumb > .main-title-section-bg {
  background-color: var(--wdtHeadAltColor);
}

.dark-bg-breadcrumb .main-title-section h1,
.dark-bg-breadcrumb .breadcrumb a,
.dark-bg-breadcrumb .breadcrumb span.current,
.dark-bg-breadcrumb .breadcrumb span:not(.current) {
  color: var(--wdtAccentTxtColor);
}

.breadcrumb a:hover,
.dark-bg-breadcrumb .breadcrumb a:hover {
  color: var(--wdtSecondaryColor);
}

/*--------------------------------------------------------------
    Accents
--------------------------------------------------------------*/

/* Primary Color */
.breadcrumb a:hover {
  color: var(--wdtSecondaryColor);
}

/*--------------------------------------------------------------
	Responsive
--------------------------------------------------------------*/

@media only screen and (min-width: 768px) {
  
  .main-title-section-wrapper.hide-content .main-title-section, .main-title-section-wrapper.hide-content .breadcrumb { display: none; }
  .main-title-section-wrapper.hide-content .main-title-section-container { min-height: 300px; }  

}

/*----*****---- << Mobile (Landscape) >> ----*****----*/

/* Common Styles for the devices below 767px width */

@media only screen and (max-width: 767px) {
  .main-title-section,
  .main-title-section h1,
  .breadcrumb {
    text-align: center;
  }
}

/* Common Styles for the devices below 479px width */

@media only screen and (max-width: 479px) {
  /* .main-title-section h1 {
    font-size: var(--wdtFontSize_H3);
  } */
}
