html {
  font-size: $font-size-root;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  overflow-x: hidden !important;
}

img {
  object-fit: cover;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.center {
  text-align: center;
}

button {
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

button:active {
  transform: scale(0.95);
}

::selection {
  color: $white-clr;
  background-color: darken($secondary-clr, 20%);
}

/* scrollbar */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  @include box-shadow(inset $size-reset $size-reset $size-half $scrollbar-clr);
}

::-webkit-scrollbar-thumb {
  background-color: #b1b5c7;
}
@font-face {
  font-family: Palatino;
  src: url("../pala.ttf");
}
*{
  line-height: initial;
}

// .slick-slide img {
//   width: 100%;
// }
.slick-list {
  padding: 0;
  margin: 0;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-slide {
  transition: all ease-in-out .3s;
}