/***<<--- Heading Transition --->>***/

.wdt-heading-holder
{
    -webkit-transition: var(--wdt-elementor-base-transition);
            transition: var(--wdt-elementor-base-transition);
}

/***<<--- Heading Common --->>***/

.wdt-heading-holder
{
    position: relative;
}

.wdt-heading-holder > *:not(:last-child)
{
    margin-bottom: 15px;
}

.wdt-heading-holder > *:last-child
{
    margin-bottom: 0;
}

.wdt-heading-holder .wdt-heading-title-wrapper
{
    margin-top: 0;
}

.wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title .wdt-heading-title-item { margin: 0; }

.wdt-heading-holder .wdt-heading-title-wrapper.wdt-heading-align-start,
.wdt-heading-holder .wdt-heading-title-wrapper.wdt-heading-align-baseline,
.wdt-heading-holder .wdt-heading-title-wrapper.wdt-heading-align-start .wdt-heading-title .wdt-heading-title-inner,
.wdt-heading-holder .wdt-heading-title-wrapper.wdt-heading-align-baseline .wdt-heading-title .wdt-heading-title-inner
{
    line-height: 1;
}

.wdt-heading-holder .wdt-heading-subtitle-wrapper { display: inline-flex; margin-bottom: 20px; }

.wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle {
    position: relative; display: inline-flex; gap: 15px; font-family: var(--wdtFontTypo_Base); font-size: var(--wdtFontSize_Ext); font-weight: 600; line-height: var(--wdtLineHeight_Alt); letter-spacing: var(--wdtLetterSpacing_1X); text-transform: uppercase; }
.wdt-dark-bg .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle { color: var(--wdtAccentTxtColor); }

.wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle:before,
.wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle:after {
    content: ''; position: relative; width: clamp(1.5625rem, 1.2845rem + 1.5337vw, 3.125rem); height: 1px; background-color: currentColor; 
    top: 0; left: 0; right: 0; bottom: 0; -webkit-transition: all 1s ease; transition: all 1s ease; margin: auto; }

.elementor-widget-wdt-heading.start .wdt-heading-holder .wdt-heading-subtitle-wrapper .wdt-heading-subtitle:after { display: none; }

.wdt-heading-holder .wdt-heading-icon-wrapper .wdt-content-icon-wrapper,
.wdt-heading-holder .wdt-heading-icon-wrapper .wdt-content-icon
{
    line-height: 1;
}

/***<<--- Overall - Heading Separator --->>***/

.wdt-heading-holder > .wdt-heading-separator-wrapper .wdt-heading-separator
{
    display: flex;
    align-items: center;
}

.wdt-heading-holder > .wdt-heading-separator-wrapper .wdt-heading-separator .wdt-separator-line
{
    width: 50px;
    height: 2px;
}

.wdt-heading-holder .wdt-heading-separator-wrapper .wdt-heading-separator.with-line .wdt-separator-line[class*='-left-part']
{
    margin-right: 5px;
}

.wdt-heading-holder .wdt-heading-separator-wrapper .wdt-heading-separator.with-line .wdt-separator-line[class*='-right-part']
{
    margin-left: 5px;
}

.wdt-heading-holder > .wdt-heading-separator-wrapper .wdt-heading-separator .wdt-content-icon-wrapper
{
    line-height: 0;
}

.wdt-heading-holder .wdt-heading-separator.with-icon .wdt-content-icon-wrapper .wdt-content-icon
{
    display: inline-block;
}

.wdt-heading-holder .wdt-heading-separator.with-icon .wdt-content-icon-wrapper .wdt-content-icon span
{
    font-size: 1.125rem;

    position: relative;
    z-index: 0;

    display: inline-block;

    text-align: center;
    vertical-align: middle;
}

.wdt-heading-holder .wdt-heading-separator.with-icon .wdt-content-icon-wrapper .wdt-content-icon span i
{
    position: relative;

    display: inline-flex;

    width: 100%;
    height: 100%;
    margin: 0;

    place-content: center;
    place-items: center;
}

.wdt-heading-holder .wdt-heading-separator.with-icon .wdt-content-icon-wrapper .wdt-content-icon span svg
{
    width: 1em;
    height: 1em;

    fill: currentColor;
}

.wdt-heading-holder .wdt-heading-separator.with-icon .wdt-content-icon-wrapper .wdt-content-icon span:before
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: auto;
    height: auto;

    content: '';

    -webkit-border-radius: inherit;
            border-radius: inherit;
}

/***<<--- Heading - Decorative Elements --->>***/

.wdt-heading-holder > .wdt-heading-deco-wrapper > span
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.wdt-heading-holder > .wdt-heading-deco-wrapper > span .wdt-heading-deco-line
{
    width: 50px;
    height: 2px;
    align-self: center;
}

.wdt-heading-holder .wdt-heading-deco-wrapper > span .wdt-heading-deco-inner
{
    display: inline-flex;
    align-items: baseline;
}

.wdt-heading-holder .wdt-heading-deco-wrapper > span .wdt-heading-deco-inner[class*='-left-part']
{
    margin-right: 5px;
}

.wdt-heading-holder .wdt-heading-deco-wrapper > span .wdt-heading-deco-inner[class*='-right-part']
{
    margin-left: 5px;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-deco-icon,
.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-deco-icon span
{
    display: inline-flex;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-content-icon-wrapper .wdt-content-icon span
{
    font-size: 1.125rem;
    line-height: 1;

    position: relative;
    z-index: 0;

    display: inline-block;

    text-align: center;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-content-icon-wrapper .wdt-content-icon span i
{
    position: relative;

    display: inline-flex;

    width: 100%;
    height: 100%;
    margin: 0;

    place-content: center;
    place-items: center;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-content-icon-wrapper .wdt-content-icon span svg
{
    width: 1em;
    height: 1em;

    fill: currentColor;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-content-icon-wrapper .wdt-content-icon span:before
{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: auto;
    height: auto;

    content: '';

    -webkit-border-radius: inherit;
            border-radius: inherit;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-deco-image
{
    display: inline-flex;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-deco-inner .wdt-heading-deco-image span
{
    position: relative;
    z-index: 0;

    display: inline-block;

    text-align: center;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-deco-inner .wdt-heading-deco-image span img
{
    display: inherit;

    height: 100%;

    object-fit: cover;
}

.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-title { display: inline-block; }
.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-title .wdt-split-heading-wrapper { padding-right: 10px; display: inline-block; }
.wdt-last-child .wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-title .wdt-split-heading-wrapper:last-child { padding-right: 0; }
.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-title .wdt-split-heading-wrapper .wdt-split-heading-title:first-child { text-transform: uppercase; }
.wdt-inview-section .wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-title .wdt-split-heading-wrapper { position: relative; perspective: 500px; text-decoration: underline; text-decoration-thickness: 4px; text-underline-offset: 2px; color: var(--wdtPrimaryColor); }
.wdt-inview-section.wdt-item-is-inview .wdt-heading-deco-wrapper .wdt-heading-title .wdt-split-heading-wrapper .wdt-split-heading-title { animation: opacity-shadow 1s forwards; }

@-webkit-keyframes opacity-shadow { 0% { opacity: 1; } 50% { opacity: 0; } 100% { opacity: 1; } }
@keyframes opacity-shadow { 0% { opacity: 1; } 50% { opacity: 0; } 100% { opacity: 1; } }

/***<<--- Heading - Background Text Elements --->>***/

.wdt-heading-holder .wdt-heading-background-text-wrapper {
    line-height: 1;
    margin-bottom: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    user-select: none;
    pointer-events: none;
}

.wdt-heading-holder .wdt-heading-background-text-wrapper .wdt-heading-background-text {
    display: inline-block;
    font-family: var(--wdtFontTypo_Alt);
    font-size: 12.5em;
    font-weight: 900;
    letter-spacing: 0.075em;
    line-height: 0.65;
    opacity: 0.048;
    margin-top: 5px;
    margin-left: -5px;
}


/* Default Colors */

.wdt-heading-holder > .wdt-heading-separator-wrapper .wdt-separator-line,
.wdt-heading-holder > .wdt-heading-deco-wrapper > span .wdt-heading-deco-line
{
    background-color: var(--wdt-elementor-color-primary);
}

.wdt-heading-holder .wdt-heading-separator.with-icon .wdt-content-icon-wrapper .wdt-content-icon span,
.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-content-icon-wrapper .wdt-content-icon span,
.wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-title .wdt-heading-colored-elements
{
    color: var(--wdtPrimaryColor);
}

/*----*****---- << Custom Styles >> ----*****----*/

.wdt-custom-blog-detail-headig .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title { font-size: var(--wdtFontSize_H5); text-transform: capitalize; }
.wdt-highlight-heading .wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-title .wdt-split-heading-wrapper,
.wdt-blog-single-highlight-heading .wdt-heading-holder .wdt-heading-deco-wrapper .wdt-heading-title .wdt-split-heading-wrapper { color: var(--wdtSecondaryColor); }
.wdt-portfolio-detail-heading .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title { font-size: clamp(1.25rem, 1.1388rem + 0.6135vw, 1.875rem); }
.wdt-custom-faq-more-qus .elementor-widget-container .elementor-heading-title,
.wdt-custom-faq-more-qus .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title { font-family: var(--wdtFontTypo_Base); font-size: clamp(1.25rem, 1.2055rem + 0.2454vw, 1.5rem); font-weight: var(--wdtFontWeight_H6); letter-spacing: 0; }
.wdt-faq-heading-customize .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title { font-size: clamp(1.25rem, 1.0943rem + 0.8589vw, 2.125rem); line-height: var(--wdtLineHeight_Alt); }
.wdt-blog-single-highlight-heading .wdt-heading-holder .wdt-heading-title-wrapper .wdt-heading-title { font-size: clamp(1.25rem, 1.0943rem + 0.8589vw, 2.125rem); line-height: 1.4; text-transform: capitalize; }