
/* ===== Pop-up Base ===== */

.wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element, 
.wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element .wdt-popup-box-trigger-label, 
.wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon, 
.wdt-popup-box-window button.mfp-close, .wdt-popup-box-window button.mfp-arrow { 
    -webkit-transition: var(--wdt-elementor-base-transition); transition: var(--wdt-elementor-base-transition); }

.wdt-popup-box-window.mfp-bg, 
.wdt-popup-box-window.mfp-wrap { height: auto; bottom: 0; left: 0; right: 0; top: 0; width: auto; cursor: default; }

.wdt-popup-box-window.mfp-wrap .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
    background-color: var(--wdt-elementor-color-white); height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; 
    margin: auto; max-width: 80vw; padding: 10px; width: 900px; -webkit-border-radius: var(--wdtRadius_Zero); border-radius: var(--wdtRadius_Zero); 
    -webkit-transition: var(--wdt-elementor-base-transition); transition: var(--wdt-elementor-base-transition); }

.wdt-popup-box-window.mfp-wrap .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder .wdt-popup-box-content-inner { 
    max-height: calc(80vh - 2*1.5em); overflow-y: auto; }

.wdt-popup-box-window .wdt-popup-box-content-holder .wdt-popup-box-content-inner > *:first-child { margin-top: 0; }
.wdt-popup-box-window .wdt-popup-box-content-holder .wdt-popup-box-content-inner > *:last-child { margin-bottom: 0; }

/* Pop-up Trigger Icon Style */
/* .wdt-popup-box-trigger-holder.wdt-click-element-icon { display: flex; } */
.wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon,
.wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon > i { display: inherit; }


/* Pop-up Trigger Elements */

.wdt-popup-box-trigger-holder, .wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element { display: inline-flex; will-change: transform; }
.wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element { cursor: pointer; }
.wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element img { align-self: start; }
.wdt-popup-box-trigger-holder:empty { display: none; }

.wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon { font-size: 1.5rem; 
    padding: 0; position: relative; text-align: center; vertical-align: top; z-index: 0; }

.wdt-popup-box-trigger-holder.wdt-click-element-label-n-icon .wdt-popup-box-trigger-element .wdt-popup-box-trigger-label { 
    display: inline-grid; align-content: center; }
.wdt-popup-box-trigger-holder.wdt-click-element-label-n-icon .wdt-popup-box-trigger-element .wdt-popup-box-trigger-label + .wdt-popup-box-trigger-icon { 
    margin-left: 8px; }

.wdt-click-element-image-n-icon .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon { 
    position: absolute; left: 0; right: 0; top: 50%; bottom: 50%; pointer-events: all; }
.wdt-click-element-image-n-icon .wdt-popup-box-trigger-element { pointer-events: none; }


/* ===== Pop-Up - Close button ===== */

.wdt-popup-box-window .wdt-popup-box-content-holder .mfp-close, .wdt-popup-box-window .mfp-close { margin: 14px;
    font-size: 0; height: 50px; width: 50px; line-height: 50px; border-radius: var(--wdtRadius_Full); -webkit-transform: none; 
    transform: none; display: flex; align-items: center; justify-content: center; opacity: 1; position: absolute; }

.wdt-popup-box-window.wdt-fade-zoom.mfp-ready.mfp-close-btn-in .mfp-close:before,
.wdt-popup-box-window.wdt-fade-zoom.mfp-ready.mfp-close-btn-in .mfp-close:after,
.wdt-popup-box-window .mfp-close:before, .wdt-popup-box-window .mfp-close:after {
    content: "" !important; width: 20px; height: 2px; background-color: currentColor;
    position: absolute; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); top: 24px; left: 15px;
    -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }

.wdt-popup-box-window.wdt-fade-zoom.mfp-ready.mfp-close-btn-in .mfp-close:after, .wdt-popup-box-window .mfp-close:after { 
    -webkit-transform: rotate(45deg); transform: rotate(45deg); -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }

.wdt-popup-box-window.wdt-fade-zoom.mfp-ready.mfp-close-btn-in .mfp-close:hover:before, .wdt-popup-box-window .mfp-close:hover:before { 
    -webkit-transform: rotate(-135deg); transform: rotate(-135deg); }
.wdt-popup-box-window.wdt-fade-zoom.mfp-ready.mfp-close-btn-in .mfp-close:hover:after, .wdt-popup-box-window .mfp-close:hover:after { 
    -webkit-transform: rotate(135deg); transform: rotate(135deg); }

.wdt-popup-box-window .wdt-popup-box-content-holder .mfp-close, .wdt-popup-box-window .mfp-close,
.wdt-popup-box-window.mfp-wrap .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder .wdt-popup-box-content-inner ~ .mfp-close { 
    background-color: var(--wdtPrimaryColor); color: var(--wdtAccentTxtColor); }

.wdt-popup-box-window .wdt-popup-box-content-holder .mfp-close:hover, .wdt-popup-box-window .mfp-close:hover,
.wdt-popup-box-window.mfp-wrap .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder .wdt-popup-box-content-inner ~ .mfp-close:hover {
    background-color: var(--wdtPrimaryColor); color: var(--wdtAccentTxtColor); }

.wdt-popup-box-window .mfp-close:empty { display: none; }


/* Pop-Up - Inside Close Button */

.wdt-popup-box-window.mfp-wrap .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder .wdt-popup-box-content-inner ~ .mfp-close { 
    background-color: var(--wdtPrimaryColor); opacity: 1; top: -20px; right: -20px; margin: 0px; height: 50px; width: 50px; }


/* ===== Pop-Up - Effect ===== */

/* FadeIn Effect */

.wdt-fade-zoom .mfp-content .mfp-iframe, 
.wdt-fade-zoom .mfp-content .mfp-img, .wdt-fade-zoom .mfp-content .mfp-figure:after, 
.wdt-fade-zoom .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
    opacity: 0; -webkit-transform: scale(0.8); transform: scale(0.8); -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.wdt-fade-zoom.mfp-ready .mfp-content .mfp-iframe, 
.wdt-fade-zoom.mfp-ready .mfp-content .mfp-img, .wdt-fade-zoom.mfp-ready .mfp-content .mfp-figure:after, 
.wdt-fade-zoom.mfp-ready .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
    opacity: 1; -webkit-transform: scale(1); transform: scale(1); }

.wdt-popup-box-window.wdt-fade-zoom.mfp-ready.mfp-close-btn-in .mfp-close { 
    -webkit-transform: scale(1); transform: scale(1); width: 30px; height: 30px;
    display: flex; align-items: center; justify-content: center; padding: 10px; cursor: pointer; top: 5px; right: 0; opacity: 1; }


/* FadeIn Transform Effect */

.wdt-fade-slide .mfp-content .mfp-iframe, 
.wdt-fade-slide .mfp-content .mfp-img, .wdt-fade-slide .mfp-content .mfp-figure:after, 
.wdt-fade-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { opacity: 0; 
    -webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg); transform: translateY(-20px) perspective(600px) rotateX(10deg); 
    -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }

.wdt-fade-slide.mfp-ready .mfp-content .mfp-iframe, 
.wdt-fade-slide.mfp-ready .mfp-content .mfp-img, .wdt-fade-slide.mfp-ready .mfp-content .mfp-figure:after, 
.wdt-fade-slide.mfp-ready .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { opacity: 1; 
    -webkit-transform: translateY(0) perspective(600px) rotateX(0); transform: translateY(0) perspective(600px) rotateX(0); }


/*==== Slide Effect Common Style ====*/

.wdt-popup-box-window.mfp-wrap[class*="side-slide"] .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
    box-shadow: 0 0 70px 20px rgb(255 255 255 / 8%); }

.wdt-popup-box-window.mfp-wrap[class*="side-slide"] .mfp-content .wdt-popup-box-content-holder { display: flex; justify-content: center; align-items: center; }
.wdt-popup-box-window.mfp-wrap[class*="side-slide"] .mfp-container.mfp-inline-holder { padding: 0; }

.wdt-popup-box-window.mfp-wrap[class*="side-slide"] .mfp-container.mfp-inline-holder .mfp-content { height: 100%; max-height: 100%; }
.wdt-popup-box-window.mfp-wrap[class*="side-slide"] .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder .wdt-popup-box-content-inner { 
    height: 100%; max-height: 100%; display: grid; place-items: center; }


/* Right Slide Effects */

.wdt-popup-box-window.mfp-wrap.wdt-right-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
    height: 100%; margin-right: 0; margin-left: auto; max-width: 500px; padding: 40px; }

.wdt-popup-box-window.wdt-right-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder {
    -webkit-transform: translateX(800px); transform: translateX(800px); opacity: 1; 
    -webkit-transition: 0.45s cubic-bezier(0.5, 1, 0.89, 1) .45s; transition: 0.45s cubic-bezier(0.5, 1, 0.89, 1) .45s; }
.wdt-popup-box-window.wdt-right-side-slide.mfp-ready .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
    -webkit-transform: translateY(0); transform: translateY(0); }

.wdt-popup-box-window.mfp-wrap.wdt-right-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder .wdt-popup-box-content-inner ~ .mfp-close { 
    top: 12px; right: 12px; }


/* Left Slide Effects */

.wdt-popup-box-window.mfp-wrap.wdt-left-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
    height: 100%; margin-right: auto; margin-left: 0; max-width: 660px; padding: 40px; }

.wdt-popup-box-window.wdt-left-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder {
    -webkit-transform: translateX(-800px); transform: translateX(-800px); opacity: 1; 
    -webkit-transition: 0.45s cubic-bezier(0.5, 1, 0.89, 1) .45s; transition: 0.45s cubic-bezier(0.5, 1, 0.89, 1) .45s; }
.wdt-popup-box-window.wdt-left-side-slide.mfp-ready .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
    -webkit-transform: translateY(0); transform: translateY(0); }

.wdt-popup-box-window.mfp-wrap.wdt-left-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder .wdt-popup-box-content-inner ~ .mfp-close { 
    top: 12px; left: 12px; }


/* Left Full Slide Effects */

.wdt-popup-box-window.mfp-wrap.wdt-left-side-slide-full .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
    height: 100%; margin-right: auto; margin-left: 0; width: 100vw; max-width: 100vw; padding: 40px; }

.wdt-popup-box-window.wdt-left-side-slide-full .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder {
    -webkit-transform: translateX(-100%); transform: translateX(-100%); opacity: 1; 
    -webkit-transition: 0.45s cubic-bezier(0.5, 1, 0.89, 1) .45s; transition: 0.45s cubic-bezier(0.5, 1, 0.89, 1) .45s; }
.wdt-popup-box-window.wdt-left-side-slide-full.mfp-ready .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
    -webkit-transform: translateY(0%); transform: translateY(0%); }

.wdt-popup-box-window.mfp-wrap.wdt-left-side-slide-full .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder .wdt-popup-box-content-inner ~ .mfp-close { 
    top: 12px; left: 12px; }


/* Right Full Slide Effects */

.wdt-popup-box-window.mfp-wrap.wdt-right-side-slide-full .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
    height: 100%; margin-right: auto; margin-left: 0; width: 100vw; max-width: 100vw; padding: 40px; }

.wdt-popup-box-window.wdt-right-side-slide-full .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder {
    -webkit-transform: translateX(100%); transform: translateX(100%); opacity: 1; 
    -webkit-transition: 0.45s cubic-bezier(0.5, 1, 0.89, 1) .45s; transition: 0.45s cubic-bezier(0.5, 1, 0.89, 1) .45s; }
.wdt-popup-box-window.wdt-right-side-slide-full.mfp-ready .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
    -webkit-transform: translateY(0%); transform: translateY(0%); }

.wdt-popup-box-window.mfp-wrap.wdt-right-side-slide-full .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder .wdt-popup-box-content-inner ~ .mfp-close { 
    top: 12px; right: 12px; }



/* ===== Scrollbar CSS ===== */
/* Firefox */
    .wdt-popup-box-window.mfp-wrap .mfp-container.mfp-inline-holder .wdt-popup-box-content-holder .wdt-popup-box-content-inner {
        -webkit-scrollbar-width: none; scrollbar-width: none; scrollbar-color: var(--wdtPrimaryColor) transparent; }

/* Chrome, Edge, and Safari */
    .wdt-popup-box-window.mfp-wrap .mfp-container.mfp-inline-holder .wdt-popup-box-content-holder .wdt-popup-box-content-inner::-webkit-scrollbar {
        width: 0px; display: none; }
    .wdt-popup-box-window.mfp-wrap .mfp-container.mfp-inline-holder .wdt-popup-box-content-holder .wdt-popup-box-content-inner::-webkit-scrollbar-track {
        background: transparent; }
    .wdt-popup-box-window.mfp-wrap .mfp-container.mfp-inline-holder .wdt-popup-box-content-holder .wdt-popup-box-content-inner::-webkit-scrollbar-thumb {
        background-color: var(--wdtPrimaryColor); border-radius: 0px; }


/* ===== At Rules (Responsive) ===== */


@media (max-width: 1280px) {
    .wdt-popup-box-window.mfp-wrap.wdt-right-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder,
    .wdt-popup-box-window.mfp-wrap.wdt-left-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
        max-width: 540px; padding: 30px; }

    .wdt-popup-box-window.mfp-wrap.wdt-left-side-slide-full .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder,
    .wdt-popup-box-window.mfp-wrap.wdt-right-side-slide-full .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { padding: 30px; }
}

@media (max-width: 1024px) { 
    .wdt-popup-box-window.mfp-wrap.wdt-right-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder,
    .wdt-popup-box-window.mfp-wrap.wdt-left-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { 
        max-width: 460px; padding: 30px 20px; }

    .wdt-popup-box-window.mfp-wrap.wdt-left-side-slide-full .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder,
    .wdt-popup-box-window.mfp-wrap.wdt-right-side-slide-full .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { padding: 30px 20px; }
}

@media (max-width: 767px) { 
    .wdt-popup-box-window.mfp-wrap.wdt-right-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder,
    .wdt-popup-box-window.mfp-wrap.wdt-left-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { max-width: 440px; }

    .wdt-popup-box-window .wdt-popup-box-content-holder .wdt-popup-box-content-inner > *:last-child { width: 100%;}
}

@media (max-width: 480px) { 
    .wdt-popup-box-window.mfp-wrap.wdt-right-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder,
    .wdt-popup-box-window.mfp-wrap.wdt-left-side-slide .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder { max-width: 320px; }
}

/***<<--- Custom Styles --->>***/

.wdt-custom-bg-parallax > .wdt-section-bgeffects-item, #wdt-custom-bg-parallax .wdt-section-bgeffects-item { position: absolute; top: 0; left: 0; width: 100%; pointer-events: none; }
.wdt-custom-bg-parallax .wdt-section-bgeffects-image, #wdt-custom-bg-parallax .wdt-section-bgeffects-image { width: 100% !important; height: 120vh !important; }

/* Header Menu */

svg > g.hambar-one {
    transform: translateX(0%);
    transition: all 500ms ease-in-out;
}

svg:hover > g.hambar-one {
    transform: translateX(-109%);
}

svg > g.hambar-two {
    transform: translateX(0%);
    transition: all 700ms ease-in-out;
}

svg:hover > g.hambar-two {
    transform: translateX(-109%);
}

/* Style 1 */

.wdt-custom-port-detail-popup .wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element { display: grid; }
.wdt-custom-port-detail-popup .wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element > img { grid-area: 1/1; border-radius: 74px; }
.wdt-custom-port-detail-popup .wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element > .wdt-popup-box-trigger-icon { grid-area: 1/1; align-self: center; position: relative; top: 0; bottom: 0; }
.wdt-custom-port-detail-popup .wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element > .wdt-popup-box-trigger-icon i { width: 55px; height: 55px; background-color: var(--wdtHeadAltColor); border-radius: var(--wdtRadius_Full); display: flex; align-items: center; justify-content: center; margin: auto; -webkit-transition: all .5s ease; transition: all .5s ease; }
.wdt-custom-port-detail-popup .wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element > .wdt-popup-box-trigger-icon i:hover { background-color: var(--wdtPrimaryColor); }

/* Style 2 */

.wdt-pop-up-play-icon .wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon i svg .round-1 { font-family: var(--wdtFontTypo_Base); font-style: normal; }
.wdt-pop-up-play-icon .wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon i svg .video-text-rotate { animation: video-text-rotate 10s linear infinite; transform-origin: center; }
.wdt-pop-up-play-icon .wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon:hover i svg .video-text-rotate { animation-play-state: paused; }
@-webkit-keyframes video-text-rotate { 100% { transform: rotate(360deg); } }
@keyframes video-text-rotate { 100% { transform: rotate(360deg); } }

/* Style 3 */

.wdt-video-play-icon .elementor-widget-container .wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element { display: flex; align-items: center; justify-content: center; width: clamp(5rem, 4.7776rem + 1.227vw, 6.25rem); height: clamp(5rem, 4.7776rem + 1.227vw, 6.25rem); background-color: var(--wdtPrimaryColor); -webkit-border-radius: var(--wdtRadius_Full); border-radius: var(--wdtRadius_Full); -webkit-transform: scale(1); transform: scale(1); -webkit-transition: all .5s ease; transition: all .5s ease; }

.wdt-video-play-icon .elementor-widget-container .wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element:hover {  -webkit-transform: scale(1.1); transform: scale(1.1); }

/* Style 4 */

.wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon g .vdo-cls-1 { font-family: var(--wdtFontTypo_Base); font-size: var(--wdtFontSize_Ext); font-weight: var(--wdtFontWeight_Alt); text-transform: uppercase; color: var(--wdtAccentTxtColor); font-style: normal; }
.wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon g path.vdo-cls-3 { fill: var(--wdtAccentTxtColor); }
.wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon g .vdo-cls-2 { fill: var(--wdtSecondaryColor); -webkit-transition: all .5s ease; transition: all .5s ease; }
.wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon:hover g .vdo-cls-2 { fill: var(--wdtAccentTxtColor); }
.wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon g:last-child[data-name="Layer 4"] path.vdo-cls-3 { fill: var(--wdtPrimaryColor); -webkit-transition: all .5s ease; transition: all .5s ease; }
.wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon:hover g:last-child[data-name="Layer 4"] path.vdo-cls-3 { fill: var(--wdtPrimaryColor); }

/* Style A */

.wdt-popup-style-a .wdt-image-box-holder .wdt-content-item, .wdt-popup-style-a .wdt-image-box-holder .wdt-content-item .wdt-content-media-group, .wdt-popup-style-a .wdt-image-box-holder .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper, .wdt-popup-style-a .wdt-image-box-holder .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper .wdt-content-image, .wdt-popup-style-a .wdt-image-box-holder .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper .wdt-content-image > a, .wdt-popup-style-a .wdt-image-box-holder .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper .wdt-content-image > a img { width: 100%; height: 100%; }

.wdt-popup-style-a .wdt-image-box-holder .wdt-content-item {
    display: grid; -webkit-border-radius: var(--wdtRadius_3X); border-radius: var(--wdtRadius_3X); }
.wdt-popup-style-a .wdt-image-box-holder .wdt-content-item .wdt-content-media-group {
    grid-area: 1/1; overflow: hidden; -webkit-border-radius: var(--wdtRadius_3X);  border-radius: var(--wdtRadius_3X); z-index: 1; margin: 0;  }
.wdt-popup-style-a .wdt-image-box-holder .wdt-content-item .wdt-content-media-group .wdt-content-image-wrapper .wdt-content-image:before {
    content:''; position: absolute; pointer-events: none; width: 100%; height: 100%; background-image: linear-gradient(180deg, transparent 40%, var(--wdtHeadAltColor) 100%); top: 0; left: 0; right: 0; bottom: 0; margin: auto; }
.wdt-popup-style-a .wdt-image-box-holder .wdt-content-item .wdt-media-image-cover .wdt-content-image-wrapper:before,.wdt-popup-style-a .wdt-content-item .wdt-media-image-cover .wdt-content-image-wrapper:after { display: none; }
.wdt-popup-style-a .wdt-image-box-holder .wdt-content-item .wdt-media-image-cover > .wdt-media-image-cover-container { 
    padding: 25px; pointer-events: none; }
.wdt-popup-style-a .wdt-image-box-holder .wdt-content-item .wdt-content-media-group .wdt-content-title { margin-bottom: 3px; }
.wdt-popup-style-a .wdt-image-box-holder .wdt-content-item .wdt-content-media-group .wdt-content-title h5 {
    font-size: clamp(1.25rem, 1.2055rem + 0.2454vw, 1.5rem); font-weight: var(--wdtFontWeight_Ext); text-transform: capitalize; }
.wdt-popup-style-a .wdt-image-box-holder .wdt-content-item:hover .wdt-media-image-cover > .wdt-media-image-cover-container > div h5 a, 
.wdt-popup-style-a .wdt-image-box-holder .wdt-content-item:hover .wdt-media-image-cover > .wdt-media-image-cover-container > div { 
    color: var(--wdtAccentTxtColor); }
.wdt-popup-style-a .wdt-image-box-holder .wdt-content-item .wdt-content-detail-group {
    grid-area: 1/1; align-self: center; display: flex; align-items: center; justify-content: flex-end; pointer-events: none; z-index: 1; 
    margin-right: -30px; }
.wdt-popup-style-a .wdt-image-box-holder .wdt-content-item .wdt-content-icon-wrapper .wdt-content-icon span {
    font-size: var(--wdtFontSize_H6); background-color: var(--wdtPrimaryColor); color: var(--wdtAccentTxtColor); width: 60px; height: 60px; display: inline-flex; align-items: center; justify-content: center; -webkit-border-radius: var(--wdtRadius_Full); border-radius: var(--wdtRadius_Full); }
.wdt-popup-style-a .wdt-image-box-holder .wdt-content-item:hover .wdt-content-icon-wrapper .wdt-content-icon span {
    background-color: var(--wdtSecondaryColor); color: var(--wdtHeadAltColor); }

/* Style B */

.wdt-popup-style-b .wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon {
    display: inline-flex; align-items: center; justify-content: center; width: 60px; height: 60px; background: var(--wdtAccentTxtColor);
    -webkit-border-radius: var(--wdtRadius_Full); border-radius: var(--wdtRadius_Full); -webkit-transition: all .3s ease; transition: all .3s ease; }
.wdt-popup-style-b .wdt-popup-box-trigger-holder .wdt-popup-box-trigger-element .wdt-popup-box-trigger-icon:hover { 
    background: var(--wdtSecondaryColor); }

/* Our Newsletter */

.wdt-fade-zoom.wdt-popup-box-window.mfp-wrap .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder {
    padding: 0 30px;
    border-radius: var(--wdtRadius_2X);
}

.wdt-fade-zoom.wdt-popup-box-window.mfp-wrap .mfp-container.mfp-inline-holder .mfp-content .wdt-popup-box-content-holder .wdt-popup-box-content-inner {
    overflow-y: visible;
}