.elementor-39 .elementor-element.elementor-element-039992c {
	--display: flex;
	--min-height: 80px;
	--flex-direction: row;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--align-items: center;
	--gap: 0px 20px;
	--background-transition: 0s;
	--margin-top: 0px;
	--margin-bottom: -84px;
	--margin-left: 0px;
	--margin-right: 0px;
	--padding-top: 12px;
	--padding-bottom: 12px;
	--padding-left: 0px;
	--padding-right: 0px;
	--z-index: 999;
}

.elementor-39 .elementor-element.elementor-element-50ab129 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
}

.elementor-39 .elementor-element.elementor-element-50ab129.e-con {
	--flex-grow: 0;
	--flex-shrink: 0;
}

.elementor-39 .elementor-element.elementor-element-8127dbc {
	text-align: left;
}

.elementor-39 .elementor-element.elementor-element-8127dbc img {
	width: 100px;
}

.elementor-39 .elementor-element.elementor-element-f535b74 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
}

.elementor-39 .elementor-element.elementor-element-f535b74.e-con {
	--flex-grow: 0;
	--flex-shrink: 0;
}

.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-menu-toggle {
	margin-left: auto;
}

.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu .elementor-item {
	font-family: var(--e-global-typography-bfadf93-font-family), Sans-serif;
	font-size: var(--e-global-typography-bfadf93-font-size);
	font-weight: var(--e-global-typography-bfadf93-font-weight);
	font-style: var(--e-global-typography-bfadf93-font-style);
	text-decoration: var(--e-global-typography-bfadf93-text-decoration);
	line-height: var(--e-global-typography-bfadf93-line-height);
	letter-spacing: var(--e-global-typography-bfadf93-letter-spacing);
}

.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--main .elementor-item {
	color: var(--e-global-color-secondary);
	fill: var(--e-global-color-secondary);
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--main .elementor-item:hover,
.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--main .elementor-item:focus {
	color: var(--e-global-color-primary);
	fill: var(--e-global-color-primary);
}

.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--main .elementor-item.elementor-item-active {
	color: var(--e-global-color-primary);
}

.elementor-39 .elementor-element.elementor-element-ba1975b {
	--e-nav-menu-horizontal-menu-item-margin: calc(4px / 2);
}

.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
	margin-bottom: 4px;
}

.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--dropdown a,
.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-menu-toggle {
	color: var(--e-global-color-text);
}

.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--dropdown {
	background-color: var(--e-global-color-be10035);
	border-style: solid;
	border-width: 8px 8px 8px 8px;
	border-color: var(--e-global-color-be10035);
	border-radius: 0px 0px 0px 0px;
}

.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--dropdown a:hover,
.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--dropdown a.highlighted,
.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-menu-toggle:hover {
	color: var(--e-global-color-primary);
}

.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--dropdown a:hover,
.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--dropdown a.highlighted {
	background-color: var(--e-global-color-d81b147);
}

.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--dropdown a.elementor-item-active {
	color: var(--e-global-color-primary);
	background-color: var(--e-global-color-d81b147);
}

.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--dropdown .elementor-item,
.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--dropdown .elementor-sub-item {
	font-family: var(--e-global-typography-19143c7-font-family), Sans-serif;
	font-size: var(--e-global-typography-19143c7-font-size);
	font-weight: var(--e-global-typography-19143c7-font-weight);
}

.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--dropdown li:first-child a {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--dropdown li:last-child a {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--main .elementor-nav-menu--dropdown,
.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu__container.elementor-nav-menu--dropdown {
	box-shadow: 0px 4px 12px 0px rgba(255, 255, 255, 0.12);
}

.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--dropdown a {
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--dropdown li:not(:last-child) {
	border-style: none;
	border-bottom-width: 1px;
}

.elementor-39 .elementor-element.elementor-element-ba1975b div.elementor-menu-toggle {
	color: var(--e-global-color-secondary);
}

.elementor-39 .elementor-element.elementor-element-ba1975b div.elementor-menu-toggle svg {
	fill: var(--e-global-color-secondary);
}

.elementor-39 .elementor-element.elementor-element-ba1975b div.elementor-menu-toggle:hover {
	color: var(--e-global-color-primary);
}

.elementor-39 .elementor-element.elementor-element-ba1975b div.elementor-menu-toggle:hover svg {
	fill: var(--e-global-color-primary);
}

.elementor-39 .elementor-element.elementor-element-af7f681 {
	--display: flex;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--flex-wrap-mobile: wrap;
	--background-transition: 0.3s;
}

.elementor-39 .elementor-element.elementor-element-4f08e40 .elementor-button {
	background-color: var(--e-global-color-primary);
	fill: var(--e-global-color-secondary);
	color: var(--e-global-color-secondary);
	transition-duration: 0.6s;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: var(--e-global-color-accent);
}

.elementor-39 .elementor-element.elementor-element-4f08e40 .elementor-button:hover,
.elementor-39 .elementor-element.elementor-element-4f08e40 .elementor-button:focus {
	background-color: transparent;
	color: var(--e-global-color-secondary);
	background-image: linear-gradient(64deg, var(--e-global-color-primary) 0%, var(--e-global-color-accent) 60%);
	border-color: var(--e-global-color-primary);
}

.elementor-39 .elementor-element.elementor-element-4f08e40>.elementor-widget-container {
	--e-transform-translateX: 0px;
	--e-transform-translateY: 0px;
}

.elementor-39 .elementor-element.elementor-element-4f08e40>.elementor-widget-container:hover {
	--e-transform-translateX: 0px;
	--e-transform-translateY: -3px;
}

.elementor-39 .elementor-element.elementor-element-4f08e40 {
	--e-transform-transition-duration: 600ms;
}

.elementor-39 .elementor-element.elementor-element-4f08e40 .elementor-button:hover svg,
.elementor-39 .elementor-element.elementor-element-4f08e40 .elementor-button:focus svg {
	fill: var(--e-global-color-secondary);
}

.elementor-theme-builder-content-area {
	height: 400px;
}

.elementor-location-header:before,
.elementor-location-footer:before {
	content: "";
	display: table;
	clear: both;
}

@media(min-width:768px) {
	.elementor-39 .elementor-element.elementor-element-50ab129 {
		--width: 20%;
	}

	.elementor-39 .elementor-element.elementor-element-f535b74 {
		--width: 60%;
	}

	.elementor-39 .elementor-element.elementor-element-af7f681 {
		--width: 20%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-39 .elementor-element.elementor-element-039992c {
		--content-width: 100%;
	}

	.elementor-39 .elementor-element.elementor-element-50ab129 {
		--width: 32%;
	}

	.elementor-39 .elementor-element.elementor-element-f535b74 {
		--width: 36%;
	}

	.elementor-39 .elementor-element.elementor-element-af7f681 {
		--width: 32%;
	}
}

@media(max-width:1024px) {
	.elementor-39 .elementor-element.elementor-element-039992c {
		--flex-direction: row;
		--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
		--container-widget-height: 100%;
		--container-widget-flex-grow: 1;
		--container-widget-align-self: stretch;
		--flex-wrap-mobile: wrap;
		--justify-content: center;
		--align-items: center;
		--gap: 0px 12px;
		--padding-top: 12px;
		--padding-bottom: 12px;
		--padding-left: 40px;
		--padding-right: 40px;
	}

	.elementor-39 .elementor-element.elementor-element-039992c.e-con {
		--flex-grow: 0;
		--flex-shrink: 0;
	}

	.elementor-39 .elementor-element.elementor-element-50ab129 {
		--flex-direction: column;
		--container-widget-width: 100%;
		--container-widget-height: initial;
		--container-widget-flex-grow: 0;
		--container-widget-align-self: initial;
		--flex-wrap-mobile: wrap;
	}

	.elementor-39 .elementor-element.elementor-element-8127dbc img {
		width: 160px;
	}

	.elementor-39 .elementor-element.elementor-element-f535b74 {
		--flex-direction: column;
		--container-widget-width: 100%;
		--container-widget-height: initial;
		--container-widget-flex-grow: 0;
		--container-widget-align-self: initial;
		--flex-wrap-mobile: wrap;
	}

	.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu .elementor-item {
		font-size: var(--e-global-typography-bfadf93-font-size);
		line-height: var(--e-global-typography-bfadf93-line-height);
		letter-spacing: var(--e-global-typography-bfadf93-letter-spacing);
	}

	.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--dropdown .elementor-item,
	.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--dropdown .elementor-sub-item {
		font-size: var(--e-global-typography-19143c7-font-size);
	}

	.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
	.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu__container.elementor-nav-menu--dropdown {
		margin-top: 20px !important;
	}

	.elementor-39 .elementor-element.elementor-element-ba1975b {
		--nav-menu-icon-size: 24px;
	}

	.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-menu-toggle {
		border-width: 0px;
		border-radius: 0px;
	}
}

@media(max-width:767px) {
	.elementor-39 .elementor-element.elementor-element-039992c {
		--content-width: 100%;
		--min-height: 104px;
		--justify-content: center;
		--flex-wrap: wrap;
		--align-content: center;
		--margin-top: 0px;
		--margin-bottom: -108px;
		--margin-left: 0px;
		--margin-right: 0px;
		--padding-top: 12px;
		--padding-bottom: 12px;
		--padding-left: 20px;
		--padding-right: 20px;
	}

	.elementor-39 .elementor-element.elementor-element-50ab129 {
		--width: 68%;
	}

	.elementor-39 .elementor-element.elementor-element-8127dbc {
		text-align: left;
	}

	.elementor-39 .elementor-element.elementor-element-8127dbc img {
		width: 140px;
	}

	.elementor-39 .elementor-element.elementor-element-f535b74 {
		--width: 28%;
	}

	.elementor-39 .elementor-element.elementor-element-ba1975b {
		z-index: 2;
	}

	.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu .elementor-item {
		font-size: var(--e-global-typography-bfadf93-font-size);
		line-height: var(--e-global-typography-bfadf93-line-height);
		letter-spacing: var(--e-global-typography-bfadf93-letter-spacing);
	}

	.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--dropdown .elementor-item,
	.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--dropdown .elementor-sub-item {
		font-size: var(--e-global-typography-19143c7-font-size);
	}

	.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
	.elementor-39 .elementor-element.elementor-element-ba1975b .elementor-nav-menu__container.elementor-nav-menu--dropdown {
		margin-top: 8px !important;
	}

	.elementor-39 .elementor-element.elementor-element-af7f681 {
		--width: 100%;
		--margin-top: 12px;
		--margin-bottom: 0px;
		--margin-left: 0px;
		--margin-right: 0px;
		--z-index: 1;
	}

	.elementor-39 .elementor-element.elementor-element-4f08e40 .elementor-button {
		padding: 6px 6px 6px 6px;
	}
}