#about_us {
    padding: 70px 0 90px 0;

    .about_us {
        display: flex;
        flex-direction: column;
        text-align: center;

        .item-btn {
            background: #FFFFFF;
            box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.15);
            border-radius: 0 0 12px 12px;
            width: 100%;
            margin: auto;
            padding: 0px 50px 25px 50px;

            button {
                @include button;
                border: none;
                font-size: 22px;
                line-height: 1rem;
                color: #BDBDBD;

            }
        }

        .item {
            background: #FFFFFF;
            box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.15);
            border-radius: 0;
            margin: auto;
            width: 100%;
            padding: 25px 50px;

            h2 {
                font-weight: 600;
                color: $about_title;
                font-size: 1.5rem;
                line-height: 1.5rem;
                text-transform: uppercase;
            }

            p {
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.4rem;
            }
        }

        .item_first {
            background: #FFFFFF;
            box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.15);
            border-radius: 12px 12px 0 0;
            margin: auto;
            width: 100%;
            padding: 25px 50px;
            p {
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.4rem;
            }
           

            h2 {
                color: $about_title;
                font-weight: 600;
                color: $about_title;
                font-size: 2rem;
                text-transform: uppercase;
                line-height: 2.2rem;
            }
        }

        .item:nth-of-type(even) {
            background-color: #F9F9F9;
        }
    }
}
#why_us {
    padding: 85px 0 55px 0;

    .about_us {
        display: flex;
        flex-direction: column;
        text-align: center;

       
        .item {
            background: #FFFFFF;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
            border-radius: 12px;
            margin: auto;
            width: 100%;
            padding: 30px 50px;
            margin-bottom: 20px;

            h2 {
                font-weight: 600;
                color: $about_title;
                font-size:26px;
                line-height: 28px;
            }

            p {
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }

        .item:nth-of-type(odd) {
            background-color: #F9F9F9;
        }
    }
    .about__us {
        display: flex;
        flex-direction: column;
        text-align: center;

       
        .item {
            background: #FFFFFF;
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
            border-radius: 12px;
            margin: auto;
            width: 100%;
            padding: 30px 50px;
            margin-bottom: 20px;

            h2 {
                font-weight: 600;
                color: $about_title;
                font-size:26px;
                line-height: 28px;
            }

            p {
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
            }
        }

        .item:nth-of-type(even) {
            background-color: #F9F9F9;
        }
    }
    
}