//....................................Header..................................//

//navBar on Header
header {
    .header-navBar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 21px 0;

        //    Logo on Header
        #logo {
            display: flex;
            align-items: center;
        }

        //  Navigation Menu on Header
        .nav-menu {
            display: flex;

            // Navigation List
            li {
                list-style: none;
                margin-left: 3rem;

                a {
                    color: $txt-color-gry;
                    font-size: 1.125rem;
                    line-height: 1.5rem;
                    transition: 1.5s;

                    &:focus {
                        color: $txt-color-blck;
                    }

                    &:hover {
                        color: #222B45;
                    }
                }

                .active {
                    color: #222B45;
                }
            }

        }

        .contact {
            align-items: center;

            button {
                @include button;
                margin-left: 1.875rem;
                transition: 1.5s;

                a {
                    color: $btn-txt;
                    font-size: 0.75rem;
                    line-height: 1.5rem;
                }

            }
        }



    }

    .banner {
        text-align: center;
        background-size: cover;
        background-repeat: no-repeat;

        h1 {
            color: $txt-color-wht;
            font-size: 3.75rem;
            line-height: 4.375rem;
            padding: 7.5rem 0 6.25rem 0;
        }

        .banner-btn {
            padding-bottom: 36px;

            button {
                @include button;
                width: 275px;
                padding: 10px 0;
                border: none;
                background-color: #fff;
                border: 1px solid #fff;

                a {
                    color: $btn-txt;
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
            }
        }

    }

    .mobile-menu-tab {
        background-color: $main-color;
        width: 100%;
        padding: 20px 22px 62px 36px;

        .nav-item {
            width: 150px;
            margin-left: auto;

            .nav-link {
                border-bottom: 1px solid #fff;
                margin-top: 30px;
                font-weight: 700;
                font-size: 32px;
                color: #FFFFFF;
                opacity: 1;
            }
        }

        .call-now {
            border-radius: 6px;
            margin-top: 100px;
            padding: 13px 30px;

            a {
                font-weight: 600;
                font-size: 16px;
                line-height: 16px;
                /* or 100% */

                display: flex;
                align-items: center;
                text-align: center;
                text-transform: uppercase;
            }
        }

        .social {
            margin-top: 32px;
            display: flex;
            justify-content: end;

            li {
                a {
                    background: #FFFFFF;
                    border-radius: 50%;
                    padding: 12px;
                    margin-left: 20px;
                }
            }
        }

        .bottom-menu {
            display: flex;
            justify-content: end;
            margin-top: 30px;

            li {
                a {
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 24px;
                    color: #F2F2F2;
                    margin-left: 18px;
                }
            }
        }

        .bottom {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: -0.02em;
            margin-top: 115px;
            text-align: center;
            color: #FFFFFF;
        }
    }

    .offcanvas-header .btn-close {
        color: #fff;
        background: transparent url(../Images/close.png) center/1em auto no-repeat;
        opacity: 1;
    }

}