#partners {
    text-align: center;
    padding: 50px 0 160px 0;

    h3 {
        font-size: 26px;
        line-height: 28px;
        color: #333333;
        margin-bottom: 28px;

    }

    .partners_text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #4F4F4F;
        margin: 0 auto;
        margin-bottom: 65px;
        width: 90%;
    }

    .item {
        img {
            width: 130px;
            height: 130px;
            border-radius: 50%;
        }
    }

}