//..................Adjust of Colors

$txt-color-blck : rgba(31, 21, 52, 1);
$txt-color-gry :#797979;
$btn-txt:#545454;
$about_title:#464646;
$txt-color-wht : rgba(255, 255, 255, 1);
$txt-color-blue : rgba(69, 143, 246, 1);
$brd-color-grey :#545454;
$back-color-btn-blue : rgba(69, 143, 246, 1);
$hover-green:#00d68f;
$main-color:#F15757;

//...................Fonts 
$font: 'Work Sans', sans-serif;
